html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  @extend %quicksand-400;
  font-size: 20px;
  font-style: normal;
  line-height: 1.5;
  color: $default;
  background-color: $bg-default;
  position: relative;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-bottom: 120px;
}

.logo {
  position: relative;
  border-radius: 5px;
  transition: box-shadow 0.5s, opacity 0.5s ease-in-out;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.70);
  }

  &:active {
    opacity: 0.5;
  }
}

.button {
  @extend %quicksand-400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.54px;
  color: $bg-item;
  border-radius: 5px;
  padding: 12px 32px;
  background-color: $accent;
  transition: box-shadow 0.5s, background-color 0.5s, color 0.5s ease-in-out;

  &:hover {
    color: $accent;
    background-color: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.70);
  }

  &:focus {
    color: $accent;
    background-color: rgba(255, 104, 56, 0.10);
    box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.70);
  }

  &:active {
    color: $accent;
    background-color: rgba(255, 104, 56, 0.10);
  }
}

.btn {
  @extend %quicksand-400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0px;
  color: $bg-item;
  border-radius: 6px;
  padding: 7px 14px;
  background-color: $accent;
  transition: box-shadow 0.5s, background-color 0.5s, color 0.5s ease-in-out;
}

.more {
  @extend %quicksand-400;
  color: $title;
  font-size: 20px;
  border-radius: 5px;
  margin: auto 0;
  text-decoration: 0.5px underline $title;
  transition: box-shadow 0.5s, text-shadow 0.5s, color 0.5s, text-decoration-color 0.5s ease-in-out;

  &:hover {
    color: $accent;
    text-decoration-color: transparent;
  }

  &:focus {
    text-decoration-color: transparent;
    box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.70);
  }

  &:active {
    text-decoration-color: transparent;
    text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.50);
  }
}

.title {
  @extend %quicksand-500;
  color: $title;
  font-size: 36px;
  line-height: 1.3;
  display: inline-block;
  margin-bottom: 60px;
}

.product-card {
  max-width: 210px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  background-color: $bg-item;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 1px #ECECEC;
  transition: box-shadow 0.5s ease-in-out;


  &:hover {
    box-shadow: 0px 0px 0px 2px $accent;
  }

  &__link {
    height: 100%;
  }

  &__img {
    margin: 0 auto 10px;
  }

  &__title {
    font-size: 15px;
    line-height: normal;
    margin-bottom: 10px;
  }

  &__price {
    @extend %quicksand-500;
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 10px;
  }

}

