$default: #31352B;
$title: #363853;
$accent: #FF6838;
$bs: #ececec;
$bg: #f9faff;
$border: #c2c2c2;



%quicksand-300 {
  font-family: 'Rubik-Light';
  font-weight: 300;
}

%quicksand-400 {
  font-family: 'Rubik-Regular';
  font-weight: 400;
}

%quicksand-500 {
  font-family: 'Rubik-Medium';
  font-weight: 500;
}