$default: rgba(49, 53, 43, 1);
// #31352B
$default-05: rgba(49, 53, 43, 0.5);

$title: rgba(54, 56, 83, 1);
// #363853
$title-05: rgba(54, 56, 83, 0.5);
$title-07: rgba(54, 56, 83, 0.7);

$accent: rgba(255, 104, 56, 1);
// #FF6838
$accent-07: rgba(255, 104, 56, 0.7);
$accent-05: rgba(255, 104, 56, 0.5);
$accent-01: rgba(255, 104, 56, 0.1);


$bg-default: rgba(249, 250, 255, 1);
// #f9faff
$bg-default-085: rgba(249, 250, 255, 0.85);

$bg-item: rgba(255, 255, 255, 1);
// #fff
$bg-item-01: rgba(255, 255, 255, 0.1);

$bg-menu-05: rgba(0, 0, 0, 0.50);

$bs-item: rgba(236, 236, 236, 1);
// #ececec

$border: rgba(194, 194, 194, 1);
// #c2c2c2

$bg-plus: rgba(255, 242, 237, 1);
// #FFF2ED

$border-plus: rgba(238, 239, 243, 1);
// #EEEFF3


$icon1: rgba(0, 170, 255, 1);
// #00AAFF

$icon2: rgba(255, 34, 34, 1);
// #FF2222

$breadcrumbs: rgba(80, 80, 80, 1);
//  #505050


// %font-300 {
//   font-family: 'Rubik', sans-serif;
//   font-weight: 300;
// }

// %font-400 {
//   font-family: 'Rubik', sans-serif;
//   font-weight: 400;
// }

// %font-500 {
//   font-family: 'Rubik', sans-serif;
//   font-weight: 500;
// }

/*SCSS-змінні*/
// $sm: 576px;
// $md: 768px;
// $lg: 992px;
// $xl: 1200px;
// /*Приклад використання*/
// @media (max-width: $xl) {
  
// }

// // При использовании ::before и ::after, мы зачастую нуждаемся в этих строках кода:
// @mixin pseudo($display: block, $pos: absolute, $content: '') {
//   content: $content;
//   display: $display;
//   position: $pos;
// }
// // Использование миксина без аргументов
// .class::after {
//   @include pseudo;
//   width: 30px;
//   height: 30px;
// }

// Задаем точки разрыва
$breakpoints: ("phone": 576px,
  "tablet": 768px,
  "tablet-2": 992px,
  "desktop": 1200px);

// Миксин для создания медиа-запросов
@mixin mq($width, $type: min) {
  @if map-has-key($breakpoints, $width) {
    $width: map-get($breakpoints, $width);

    @if $type==max {
      $width: $width - 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}


// @mixin mq($width, $type: min, $orientation: null) {
//   @if map-has-key($breakpoints, $width) {
//     $width: map-get($breakpoints, $width);

//     @if $type==max {
//       $width: $width - 1px;
//     }

//     $media-query: "only screen and (#{$type}-width: #{$width})";

//     @if $orientation {
//       $media-query: (#{$media-query} and (orientation: #{$orientation}));
//     }

//     @media #{$media-query} {
//       @content;
//     }
//   }
// }



// Обрезание текста 
@mixin line-clamp($lines: 1) {
  @if $lines <=1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @else {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}
// Использование миксина 
.class {
  font-size: 14px;
  @include line-clamp(3);
}