@import 'fonts';
@import 'global';
@import 'media';
@import 'reset';
@import 'vars';

.header {

  &__menu {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 70px 5px 58px 13px;
  }

  &__inner {
    display: flex;
  }

  &__list {
    display: flex;
    margin-right: 63px;
  }

  &__item {
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.18px;
  }

  &__item:not(:last-child) {
    margin-right: 40px;
  }

  &__tools {
    display: flex;
    align-items: center;
  }


  &__url {
  display: block;
  width: 21px;
  height: 21px;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: relative;
  // padding: 13px;
  }

  &__search {
    margin-right: 33px;
  }

  &__number {
    position: absolute;
    top: -2px;
    left: calc(50% + 5px);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #FF6838;
    color: #FFF;
    text-align: center;
    font-family: Rubik;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
  }

  &__content {
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
    height: 660px;
  }

  &__title {
    display: block;
  }

  }

