.app {

  &__content {
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto 100%;
    height: 34vh;
    display: flex;
  }

  &__content-inner {
    background-position: center right;
    // height: 37.7vh;
    max-width: 470px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }

  .title {
    margin-bottom: 45px;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__link {
    transition: opacity 0.5s ease-in-out;
    &:hover {
      opacity: 0.5;
    }
  }

}