.categories {
  text-align: center;

  &__filter-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 45px;
    gap: 20px;

    @include mq("desktop", max) {
      justify-content: space-between;
      flex-wrap: nowrap;
      overflow-x: scroll;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      width: 100%;
      margin-bottom: 30px;
      gap: 10px;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__filter-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.3;
    padding: 12px 31px;
    letter-spacing: 0;
    border-radius: 5px;
    background-color: $bg-item;
    border: 1px solid $bs-item;
    // box-shadow: 0 0 0 1px $bs-item;
    transition: background-color 0.5s, border-color 0.5s, text-shadow 0.5s, color 0.5s ease-in-out;

    @include mq("tablet", max) {
      font-size: 14px;
      padding: 10px 15px;
    }

    &:hover {
      color: $accent;
      background-color: $accent-01;
      border-color: $accent-07;

      .categories__icon {
        fill: $accent;
      }
    }

    &:focus {
      background-color: $bg-item;
      border-color: $accent-07;
    }

    &:active {
      background-color: $bg-item;
      box-shadow: 0 -5px 12px 0 $accent-01 inset;
    }

    &.mixitup-control-active {
      background-color: $accent;
      color: $bg-item;

      .categories__icon {
        fill: $bg-item;
      }
    }
  }

  &__icon {
    margin-right: 10px;
    fill: $title;
    transition: fill 0.5s ease-in-out;

    @include mq("tablet", max) {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
  }

  &__product-list {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(auto-fill, 210px);
    gap: 30px;
    margin-bottom: 60px;

    @include mq("tablet", max) {
      grid-template-columns: repeat(auto-fill, 170px);
      gap: 10px 5px;
      margin-bottom: 30px;
    }
  }
}