.breadcrumbs {
  padding: 159px 0 60px;

      @include mq("tablet-2", max) {
        padding: 72px 0 40px;
      }

  &__list {
    position: relative;
    height: 65px;
    display: flex;
    align-items: center;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      height: 100%;
      z-index: -1;
      background-color: $accent-01;
    }
  }

  &__item {
    align-items: center;
  }

  &__link {
    color: $breadcrumbs;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.42px;
    border-radius: 5px;

    &:hover {
      color: $accent;
    }

    &:focus {
      box-shadow: 0 0 0 2px $accent-07;
    }

    &:active {
      text-shadow: 2px 2px 5px $default-05;
    }

    &.current {
      color: $accent;
    }
  }

  &__icon {
    margin: 0 5px;
    fill: $border;
  }
}

.catalog {
  // position: relative;
&__box {
    float: inline-end;
    display: inline-flex;
    // justify-content: space-between;
    gap: 20px;

        @include mq("tablet", max) {
          float: none;
          display: flex;
          margin-bottom: 30px;
        }
  }


  &__inner {
  display: flex;
  justify-content: space-between;
  }

  &__aside {
        @include mq("tablet-2", max) {
          display: none;
        }
  }

  &__content {
    width: 100%;
        position: relative;
  }

  &__product-list {

    display: grid;
    justify-content: flex-end;
    align-content: center;
    grid-template-columns: repeat(auto-fill, 210px);
    gap: 10px;
    margin-bottom: 60px;

        @include mq("desktop", max) {
    justify-content: center;
        }

    @include mq("tablet", max) {
      gap: 10px 5px;
      margin-bottom: 30px;
    }

    @include mq("phone", max) {
      grid-template-columns: repeat(2, minmax(0, 170px));
    }
  }


}

.aside {
  // position: static;
  max-width: 270px;
  width: 100%;

  &__item{
    border-radius: 5px;
    border: 1px solid $bs-item;
    background-color: $bg-item;

  &:not(:last-child) {
    margin-bottom: 30px;
    }
  }

  &__title {
    color: $title;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.72px;
    padding: 15px;
    border-bottom: 1px solid $bs-item;

    +* {
      padding: 25px 15px;
    }
  }
}

.link-categories {

  &__item {
  
    &:not(:last-child) {
      margin-bottom: 11px;
    }
  }

  &__link {
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.54px;
    border-radius: 5px;

    &:hover {
      color: $accent;
    }

    &:focus {
      box-shadow: 0 0 0 2px $accent-07;
    }

    &:active {
      text-shadow: 2px 2px 5px $default-05;
    }
  }
}

.filter-offers {

  &__label {
    display: flex;
    align-items: center;

    &:hover {
      color: $accent;
    }
  }

  &__input[type="checkbox"] {
    display: none;

    &:checked+.filter-offers__checkbox {
      background-image: url('../images/icon/check.svg');
      background-repeat: no-repeat;
      background-position: center;
      border: 1px solid $title;
    }

    &:hover+.filter-offers__checkbox,
    &:focus+.filter-offers__checkbox {
      border: 1px solid $accent;
    }
  }

  &__checkbox {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    border-radius: 3px;
    border: 1px solid $bs-item;
    background-color: $accent-02;
  }
}

.range-cost {
  &__input {
    background: $bg-plus;
    line-height: 1;

    &--to,
    &--from {
      max-width: 70px;
      border-radius: 3px;
      border: 1px solid $accent-01;
      background: $bg-plus;
              padding: 7px 5px;
              text-align: center;
    }
  }

  &__label {
    color: $border;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.48px;
      &:first-child {
        margin-right: 11px;
  }
  }

.irs--round .irs-bar {
  background-color: $accent;
  height: 2px;
}

.irs--round .irs-handle {
  background-color: $accent;
  border: 4px solid $accent;
  width: 18px;
  height: 18px;
  top: 28px;
}

.irs-min,
.irs-max,
.irs-from,
.irs-to {
  display: none;
}
}





.product-sort {

  display: inline-flex;
  // flex-grow: 1;
  // display: inline-;
  // text-align: right;
  // flex-grow: 1;
  // justify-content: space-between;
  //  position: absolute;
  //  left: calc(50% + 5px);
    // top: 0;
// left: 80.7%;

// top: 0px;
// left: 55.4%;
// transform: translateX(100%);
// z-index: 5;
    // width: 100vw;
    // height: 100%;
// top: 60px;
    
  @include mq("desktop", max) {
      //  position: relative;
      //  transform: none;
      //  left: 0px;
  }

  &__form {
    display: flex;
    gap: 20px;
    }

  &__option {
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.42px;
  }

  &__name-sort {
    max-width: 130px;
    width: 100%;
  }

  &__per-page {
    max-width: 92px;
    width: 100%;
  }
}

.jq-selectbox {
  vertical-align: middle;
  // z-index: 10;

  &__select {
    position: relative;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    padding: 13px 40px 13px 15px;
    border-radius: 3px;
    border: 1px solid $border;
    background: $bg-item;
    box-shadow: none;
    text-shadow: none;
    display: block;
    width: 100%;


    &:hover {
      border-color: $accent;
      background: $bg-item;
      color: $accent;
    }
  }

  &__select-text {
    display: block;
    width: 100%;
    @include char-clamp(10);
  }

  &__trigger {
    border-left: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
  }

  &__trigger-arrow {
    position: absolute;
    top: 19px;
    right: 17px;
    width: 6px;
    height: 10px;
    border: none;
    background-image: url('../../images/icon/chevron.svg#chevron');
    transform: rotate(90deg);

    &:hover {
      color: $accent-01;
    }
  }

  &__dropdown {
    background-color: $bg-item;
    width: -webkit-fill-available;
  }

  & li.selected {
    background-color: $accent;
    color: #fff;
  }

  & li {
    padding: 5px 10px 6px;
    color: #231f20;

    &:hover {
      background-color: $accent-01;
      color: $default;
    }
  }
}


.pagination {

  &__list {
      display: flex;
      justify-content: center;
      gap: 6px;
  }

  &__item {
              @include mq("phone", max) {
                &:nth-child(3),
                 &:nth-last-child(3)
                   {
                  display: none;
                }
              }
  }

  &__icon {
    fill: currentColor;
    transition: fill 0.5s ease-in-out;

    &--arrow-prev {
      transform: rotate(180deg);
    }

  &.current {
    fill: $border;
    }
  }

  &__link {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.54px;
    color: $title;
    background-color: $accent-01;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s, box-shadow 0.5s ease-in-out;

    &:hover {
    background-color: $accent;
    color: $bg-item;
    }

    &:focus {
      border-color: $accent;
    }

    &:active {
      color: $title;
      background-color: $accent-01;
      box-shadow: 0px -1px 4px 2px $bg-menu-015 inset;
    }

    &.current {
      border: 1px solid $title;
    }

  }


}

.promo {
  &__list {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(auto-fill, 370px);
    gap: 30px;

    @include mq("desktop", max) {
      grid-template-columns: repeat(auto-fill, 345px);
      gap: 15px;
    }

    @include mq("tablet", max) {
      display: block;
      max-width: 345px;
      width: 100%;
      margin: 0 auto;
    }
  }

    &__item {

      @include mq("tablet", max) {
        margin-bottom: 30px;
      }
    }

}

