.delivery {

  &__content {
    background-repeat: no-repeat;
    background-position: 70px center;
    background-origin: border-box;
    background-size: auto;
    display: flex;
    justify-content: flex-end;
    padding-right: 70px;
  }

  &__content-inner {
    width: 470px;
    padding: 58px 0;
    aspect-ratio: auto 1 / 1;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 30px;
    p:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__list {
    margin-bottom: 30px;
  }

  &__item {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__icon {
    margin-right: 30px;
    &--timer {
      fill: $accent;
    }
    &--delivery {
      fill: $icon1;
    }
    &--restaurant {
      fill: $icon2;
    }
  }
  
  &__desc {
    font-size: 24px;
  }
}