.footer {

  &__container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 61px;

    @include mq("desktop", max) {
      gap: 70px;
      justify-content: space-around;
    }

    @include mq("tablet-2", max) {
      justify-content: center;
    }

    @include mq("phone", max) {
      gap: 22px;
      flex-direction: column;
      margin-bottom: 50px;
    }
  }

  &__sub {
    margin-right: 70px;

    @include mq("desktop", max) {
      margin-right: 0;
    }

    @include mq("tablet", max) {
      order: 1;
    }
  }

  &__logo {
    margin-bottom: 30px;
  }

  &__menu {
    display: grid;
    grid-template-columns: repeat(3, auto);
    height: 100%;
    gap: 20px 91px;
    margin-right: 143px;

    @include mq("desktop", max) {
      margin-right: 0;
      gap: 20px 30px;
    }

    @include mq("tablet-2", max) {
      order: 3;
    }

    @include mq("phone", max) {
      display: block;
    }
  }

  &__address {

    @include mq("desktop", max) {
      order: 2;
    }
  }

  &__bottom {
    background-color: #343740;
    padding: 30px 0;
    display: flex;
    justify-content: center;

    @include mq("tablet", max) {
      padding: 20px 0;
    }
  }

  &__copyright {
    color: $bg-item;
    font-size: 14px;
    line-height: 1;
  }
}