.header {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1200px;
  width: 100%;
  padding: 60px 0 55px 5px;
  z-index: 2;
  transition: padding 1.5s ease;

  @include mq("tablet-2", max) {
    padding: 14px 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    z-index: -1;
    background-color: transparent;
    transition: background-color 0.5s ease-in-out;
  }

  &--active {
    // padding: 0;
    transition: padding-top 0.3s, color 0.3s ease;

    @include mq("tablet-2") {
      padding: 20px 12px 20px 5px;
    }

    &::after {
      backdrop-filter: blur(50px);
      // background-color: $title-07;
      // background-color: $bg-default-085;
    }
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin-right: 52px;

    @include mq("tablet-2", max) {
      margin-right: 0px;
    }
  }

  &__logo {

    @include mq("tablet-2", max) {
      width: 115px;
      height: 23px;
    }
  }

  &__menu {
    display: flex;
    gap: 40px;

    @include mq("tablet-2", max) {
      display: none;
    }
  }

  &__tools-list {
    display: flex;
    align-items: center;

    @include mq("tablet-2", max) {
      margin-right: 10px;
    }
  }

  &__tools-item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__tools-icon {
    stroke: currentColor;
    transition: stroke 0.5s ease-in-out;
  }

  &__tools-number {
    font-size: 10px;
    line-height: 1.4;
    top: 7px;
    position: absolute;
    left: calc(50% + 5px);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $accent;
    color: $bg-item;
    display: inline-table;
  }

  &__tools-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 5px;
    color: $title;
    position: relative;
    transition: background-color 0.5s, box-shadow 0.5s, text-shadow 0.5s ease-in-out;

    &:hover {
      background-color: $accent;
      color: $bg-item;

      .header__tools-number {
        background-color: $bg-item;
        color: $accent;
      }
    }

    &:focus {
      background-color: $accent-01;
      box-shadow: 0 0 0 2px $accent-07;
    }

    &:active {
      background-color: $bg-plus;
    }
  }
}

.mobile-menu {
  display: none;

  @include mq("tablet-2", max) {
    position: absolute;
    left: 0;
    right: 75px;
    top: 0;
    height: 100vh;
    display: block;
    // overflow: auto;
    z-index: 4;
    padding: 0 15px;
    transform: translate(-50%, -100%);
    transition: transform 0.5s;

    &::before {
      content: "";
      position: absolute;
      background-color: $bg-menu-05;
      height: 100%;
      width: 100vw;
      bottom: 0;
      left: 0;
      z-index: -2;
    }

    &::after {
      content: "";
      position: absolute;
    background-color: $bg-item;
      height: 100%;
      width: 100%;
      bottom: 0;
      left: 0;
      z-index: -1;
    }

    &.active {
      transform: translate(0);
      position: fixed;
    }
  }


  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;

    @media (max-width: 768px) and (orientation: landscape) {
      padding: 0;
    }
  }

  &__menu {
    line-height: 1.2;
    padding: 13px 0;
    border-top: 1px solid $border-plus;
    border-bottom: 1px solid $border-plus;

    @media (max-width: 992px) and (orientation: landscape) {
      padding: 0;
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  &__address {
    padding: 10px 0;

    @include mq("tablet-2", max) {
      display: block;
    }

    @media (max-width: 768px) and (orientation: landscape) {
      padding: 0;
    }
  }
}

.burger-button {
  display: none;

  @include mq("tablet-2", max) {
    width: 44px;
    height: 44px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    z-index: 0;
    transition: box-shadow 0.5s, background-color 0.5s, color 0.5s ease-in-out;

    &::before,
    &::after {
      content: '';
      position: absolute;
      background-position: center center;
      max-width: 30px;
      width: 100%;
      height: 2px;
      background-color: $title;
      transition: transform 0.5s ease-in-out;
    }

    &::before {
      top: 11px;
    }

    &::after {
      bottom: 11px;
    }

    &.active {
      z-index: -1;
    }

    &--close.active {
      transition: transform 0.5s ease-in-out;
      z-index: 5;

      &:focus {
        box-shadow: 0px 0px 0px 2px $accent;
      }

      &:active {
        background-color: $accent-05;
      }

      &.burger-button::before {
        transform: rotate(45deg);
        top: 21px;
        width: 24px;
      }

      &.burger-button::after {
        transform: rotate(-45deg);
        bottom: 21px;
        width: 24px;
      }
    }

    &__line {
      position: absolute;
      max-width: 30px;
      width: 100%;
      height: 2px;
      background-color: $title;

      &--close.active {
        transform: scale(0);
      }
    }
  }
}