.reviews {
  text-align: center;

  &__box {
    padding: 0 90px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    @include mq("tablet", max) {
      padding: 0 60px;
      flex-wrap: nowrap;
      align-items: stretch;
    }

    @include mq("phone", max) {
      padding: 0;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;

    @include mq("desktop", max) {
      flex-direction: column;
      justify-content: center;
    }

    @include mq("tablet", max) {
      margin-bottom: 0;
    }
  }

  &__img {
    border-radius: 50%;

    @include mq("desktop", max) {
      margin-bottom: 29px;
    }

    @include mq("tablet", max) {
      width: 100px;
      height: 100px;
    }
  }

  &__icon {
    fill: currentColor;
    transition: fill 0.5s ease-in-out;
  }

  &__btn {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 3px solid $border;
    color: $border;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $bg-item-01;
    transition: background-color 0.5s, border-color 0.5s, box-shadow 0.5 ease-in-out;

    &:hover {
      background-color: $bg-plus;
      border-color: $accent-05;
      color: $accent-05;
    }

    &:focus {
      box-shadow: 0 0 0 2px $accent;
    }

    &:active {
      background-color: $bg-plus;
      border-color: $bg-plus;
      color: $accent;
    }

    &:disabled {
      border-color: $accent;
      color: $accent;
    }

    &::after {
      content: "";
      position: absolute;
      height: 44px;
      width: 44px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &--prev {
      order: 2;

      @include mq("tablet", max) {
        z-index: 1;
        position: absolute;
        transform: translate(-117px, 34px);
      }
    }

    &--next {
      order: 4;

      @include mq("tablet", max) {
        z-index: 1;
        position: absolute;
        transform: translate(117px, 34px);
      }
    }
  }
}

.blockquote {
  max-width: 650px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;

  &__text {
    position: relative;
    font-style: italic;
    padding: 0 40px;
    margin-bottom: 30px;

    @include mq("tablet", max) {
      font-size: 14px;
      margin-bottom: 20px;
    }

    &::before {
      content: '';
      width: 24px;
      height: 19px;
      position: absolute;
      left: 0;
      top: 0;
      display: inline;
      background-image: url('../images/icon/quote.svg');
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: auto 100%;
    }

    &::after {
      content: '';
      width: 24px;
      height: 19px;
      position: absolute;
      right: 0;
      bottom: 0;
      display: inline;
      background-image: url('../images/icon/quote.svg');
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: auto 100%;
      transform: rotateY(180deg);
    }

    & p:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__author {
    font-weight: 500;
    color: $accent;
    display: flex;
    flex-direction: column;
    padding: 0 40px;

    @include mq("tablet", max) {
      font-size: 16px;
    }
  }

  &__author-kind {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    color: $default;
    margin-top: 15px;

    @include mq("tablet", max) {
      margin-top: 10px;
    }
  }
}

.slick-dots {
  margin: 0 23px;
  gap: 15px;
  grid-area: dots;
  display: flex;
  order: 3;
  justify-content: center;

  li {
    display: flex;

    button {
      position: relative;
      font-size: 0;
      width: 15px;
      height: 15px;
      background-color: $border;
      border-radius: 50%;
      transition: background-color 0.2s, box-shadow 0.2s, ease-in-out;

      &:hover {
        background-color: $bg-plus;
        box-shadow: 0 0 0 2px $accent-05;
      }

      &:focus {
        background-color: $border;
        box-shadow: 0 0 0 2px $accent;
      }

      &:active {
        background-color: $accent-05;
      }

      &::after {
        content: "";
        position: absolute;
        height: 44px;
        width: 28px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &.slick-active {
      button {
        background-color: $accent;
      }
    }
  }
}