        <section class="app section">
          <div class="container">
            <div class="app__content">
              <div class="app__content-inner">
                <h2 class="title app__title">
                  Завантажте мобільний застосунок
                </h2>
                <p class="app__text">
                  Ресторани, які ви любите - у ваших руках. Встановлюйте
                  застосунок та замовляйте їжу в зручному місці взручний час
                </p>
                <ul class="app__list">
                  <li class="app__item">
                    <a
                      class="app__link"
                      target="_blank"
                      href="https://www.apple.com/app-store/"
                    >
                      <svg class="app__icon" width="120" height="40">
                        <use href="images/icon/ico.svg#icon-appstore"></use>
                      </svg>
                      <span class="sr-only"> Епстор </span>
                    </a>
                  </li>
                  <li class="app__item">
                    <a
                      class="app__link"
                      target="_blank"
                      href="https://play.google.com/store/apps"
                    >
                      <svg class="app__icon" width="135" height="40">
                        <use href="images/icon/ico.svg#icon-playstore"></use>
                      </svg>
                      <span class="sr-only"> Плейстор </span>
                    </a>
                  </li>
                </ul>
              </div>
              <img
                class="app__img"
                src="images/app.jpg"
                width="570"
                height="380"
                alt="мобільний додаток"
              />
            </div>
          </div>
        </section>