<header class="header">
  <div class="container header__container">
    <nav class="header__nav">
      <a class="logo header__logo" href="#body">
        <img class="logo__img" src="images/logo.svg" width="200" height="39" alt="логотип"/>
      </a>
      <ul class="menu header__menu">
        @@for (var i = 0; i < menu.length; i++) {
          <li class="menu__item">
            ${menu[i].line}
          </li>
        }
      </ul>
    </nav>
    <ul class="header__tools-list">
      <li class="header__tools-item">
        <button class="header__tools-btn" type="button">
          <svg class="header__tools-icon" width="19" height="19">
            <use href="images/icon/ico.svg#icon-search"></use>
          </svg>
          <span class="sr-only"> Пошук </span>
        </button>
      </li>
      <li class="header__tools-item">
        <button class="header__tools-btn" type="button">
          <svg class="header__tools-icon" width="19" height="19">
            <use href="images/icon/ico.svg#icon-cart"></use>
          </svg>
          <span class="sr-only"> Корзина </span>
          <span class="header__tools-number"> 4 </span>
        </button>
      </li>
    </ul>
    <button class="burger-button" type="button">
      <span class="burger-button__line"> </span>
      <span class="sr-only">Кнопка меню</span>
    </button>
    <div class="mobile-menu">
      <div class="mobile-menu__inner">
        <a class="logo" href="#body">
          <img class="logo__img" src="images/logo.svg" width="200" height="39" alt="логотип"/>
        </a>
        <button class="burger-button burger-button--close" type="button">
          <span class="burger-button__line burger-button__line--close">
          </span>
          <span class="sr-only">Кнопка меню</span>
        </button>
      </div>
      <ul class="menu mobile-menu__menu">
        <li class="menu__item">
          <span class="menu__link current"> Головна </span>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#"> Страви </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#"> Контакти </a>
        </li>
      </ul>
      <div class="address mobile-menu__address">
        <ul class="address__list">
          <li class="address__item">
            <a class="address__link" href="geo:#">
              <svg class="address__icon" width="24" height="24">
                <use href="images/icon/ico.svg#icon-location"></use>
              </svg>
              вул. Т.Г.Шевченка, 1
            </a>
          </li>
          <li class="address__item">
            <a class="address__link" href="tel:+380501112233">
              <svg class="address__icon" width="24" height="24">
                <use href="images/icon/ico.svg#icon-call"></use>
              </svg>
              380501112233
            </a>
          </li>
          <li class="address__item">
            <a class="address__link" href="mailto:support@sfood.com">
              <svg class="address__icon" width="24" height="24">
                <use href="images/icon/ico.svg#icon-message"></use>
              </svg>
              support@sfood.com
            </a>
          </li>
        </ul>
        <ul class="socials">
          <li class="socials__inner">
            <a class="socials__link" target="_blank" href="https://www.facebook.com/">
              <svg class="socials__icon" width="10" height="21">
                <use href="images/icon/ico.svg#icon-facebook"></use>
              </svg>
              <span class="sr-only"> Посилання на фейсбук </span>
            </a>
          </li>
          <li class="socials__inner">
            <a class="socials__link" target="_blank" href="https://twitter.com/">
              <svg class="socials__icon" width="21" height="17">
                <use href="images/icon/ico.svg#icon-twitter"></use>
              </svg>
              <span class="sr-only"> Посилання на твітер </span>
            </a>
          </li>
          <li class="socials__inner">
            <a class="socials__link" target="_blank" href="https://www.instagram.com/">
              <svg class="socials__icon" width="20" height="20">
                <use href="images/icon/ico.svg#icon-instagram"></use>
              </svg>
              <span class="sr-only"> Посилання на інстаграм </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>