<aside class="@@sidebar">
  <div class="sidebar__inner">
    <h2 class="sidebar__title">Категорії</h2>
    <ul class="sidebar__list">
      <li class="sidebar__item">
        <a class="sidebar__link" href="#">
          Бургери
        </a>
      </li>
      <li class="sidebar__item">
        <a class="sidebar__link" href="#">
          Піца
        </a>
      </li>
      <li class="sidebar__item">
        <a class="sidebar__link" href="#">
          Сендвічі
        </a>
      </li>
      <li class="sidebar__item">
        <a class="sidebar__link" href="#">
          Азійська кухня
        </a>
      </li>
      <li class="sidebar__item">
        <a class="sidebar__link" href="#">
          Сети
        </a>
      </li>
      <li class="sidebar__item">
        <a class="sidebar__link" href="#">
          Європейська кухня
        </a>
      </li>
      <li class="sidebar__item">
        <a class="sidebar__link" href="#">
          Напої
        </a>
      </li>
      <li class="sidebar__item">
        <a class="sidebar__link" href="#">
          Алкоголь
        </a>
      </li>
    </ul>
  </div>

  <div class="sidebar__inner">
    <h3 class="sidebar__title">Пропозиції</h3>
    <ul class="sidebar__list">
      <li class="sidebar__item">
        <form class="sidebar__form" action="#" method="post">
      <label class="sidebar__label">
        <input class="sidebar__input" type="checkbox" name="" value="">
        <span class="sidebar__checkbox">
        </span>
        Зі знижкою
      </label>
        </form>
      </li>
      <li class="sidebar__item">
        <form class="sidebar__form" action="#" method="post">
        <label class="sidebar__label">
          <input class="sidebar__input" type="checkbox" name="filter-offers" value="">
          <span class="sidebar__checkbox">
          </span>
          Новинка
        </label>
        </form>
      </li>
      <li class="sidebar__item">
        <form class="sidebar__form" action="#" method="post">
        <label class="sidebar__label">
          <input class="sidebar__input" type="checkbox" name="filter-offers" value="">
          <span class="sidebar__checkbox">
          </span>
          Хіт сезону
        </label>
        </form>
      </li>
    </ul>
  </div>

  <div class="sidebar__inner">
    <h3 class="sidebar__title">Ціна</h3>
    <form class="range-cost">
      <label class="range-cost__label">
        від
        <input class="range-cost__input--from" type="text" name="" value="0"/>
        ₴
      </label>
      <label class="range-cost__label">
        до
        <input class="range-cost__input--to" type="text" name="" value="0"/>
        ₴
      </label>
      <label class="range-cost__label">
        <input class="range-cost__input js-range-slider"  type="text" name="" value="" data-min="65" data-max="1130" data-from="100" data-to="1000"/>
      </label>
    </form>
  </div>
</aside>