<aside class="sidebar">
      <button class="filter-button filter-button--close" type="button">
      <svg class="catalog__icon" width="18" height="18">
        <use href="images/icon/close.svg#close"></use>
      </svg>
      <span class="sr-only">Кнопка закрити фільтрування</span>
    </button>
  <div class="sidebar__inner">
    <h3 class="sidebar__title">Категорії</h3>
    <ul class="sidebar__list">
      <li class="sidebar__item">
        <a class="sidebar__link" href="#">
          Бургери
        </a>
      </li>
      <li class="sidebar__item">
        <a class="sidebar__link" href="#">
          Піца
        </a>
      </li>
      <li class="sidebar__item">
        <a class="sidebar__link" href="#">
          Сендвічі
        </a>
      </li>
      <li class="sidebar__item">
        <a class="sidebar__link" href="#">
          Азійська кухня
        </a>
      </li>
      <li class="sidebar__item">
        <a class="sidebar__link" href="#">
          Сети
        </a>
      </li>
      <li class="sidebar__item">
        <a class="sidebar__link" href="#">
          Європейська кухня
        </a>
      </li>
      <li class="sidebar__item">
        <a class="sidebar__link" href="#">
          Напої
        </a>
      </li>
      <li class="sidebar__item">
        <a class="sidebar__link" href="#">
          Алкоголь
        </a>
      </li>
    </ul>
  </div>
  <div class="sidebar__inner">
    <h3 class="sidebar__title">Пропозиції</h3>
    <form class="sidebar__form" action="#" method="post">
      <ul class="sidebar__list">
        <li class="sidebar__item">
          <label class="sidebar__label">
            <input class="sidebar__input-checkbox" type="checkbox" name="filter-offers" value="">
            <span class="sidebar__checkbox-fake">
            </span>
            Зі знижкою
          </label>
        </li>
        <li class="sidebar__item">
          <label class="sidebar__label">
            <input class="sidebar__input-checkbox" type="checkbox" name="filter-offers" value="">
            <span class="sidebar__checkbox-fake">
            </span>
            Новинка
          </label>
        </li>
        <li class="sidebar__item">
          <label class="sidebar__label">
            <input class="sidebar__input-checkbox" type="checkbox" name="filter-offers" value="">
            <span class="sidebar__checkbox-fake">
            </span>
            Хіт сезону
          </label>
        </li>
      </ul>
    </form>
  </div>
  <div class="sidebar__inner">
    <h3 class="sidebar__title">Ціна</h3>
    <form class="range-cost">
      <label class="range-cost__label">
        від
        <input class="range-cost__input-from" type="text" name="" value="0"/>
        ₴
      </label>
      <label class="range-cost__label">
        до
        <input class="range-cost__input-to" type="text" name="" value="0"/>
        ₴
      </label>
      <label class="range-cost__label">
        <input class="range-cost__input js-range-slider"  type="text" name="" value="" data-min="65" data-max="1130" data-from="100" data-to="1000"/>
      </label>
    </form>
  </div>
</aside>

